$smoke-sky: #dee7ec;
$smoke-sky_dark: #c7cfd3;
$night: #384a91;
$night_dark: #324282;
$rock: #45485d;
$rock_dark: #3d4053;
$sky: #f0f6f9;
$sky_dark: #d7dcdf;
$bic: #4c88ff;
$bic_dark: #447ae5;
$king: #3d4482;
$king_dark: #363d74;
$smoke: #eaeaea;
$smoke_dark: #d2d2d2;
$white-bic: #6ac0ff;
$white-bic_dark: #5face5;
$sun: #ffe06d;
$sun_dark: #e5c861;
$sunrise: #ff5e5a;
$sunrise_dark: #e55450;
$shy: #dce1ec;
$shy_dark: #c5cad3;
$light-blue: #eef6ff;
$light-blue_dark: #d5dce5;
$corrida: #ee2b43;
$corrida_dark: #d5263c;
$rise-blue: #9ebdfd;
$rise-blue_dark: #8da9e3;
$ghost: #eff6f9;
$ghost_dark: #d6dcdf;
$golf: #7ed321;
$golf_dark: #71bd1d;
$grey: #808fa3;
$grey_dark: #707f94;
$road: #353855;

$white: #ffffff;
$dusk: #575c82;
$dusk-2: #4f5586;

// pink
$pink-1: #42b983;
$pink-2: #dc4f6f;
$pink-3: #e385b8;
$pink-3: #a91e3d;

// gray
$gray-1: #eeeeee;
$gray-2: #808080;
$gray-3: #d2d2d2;
$gray-4: #cadbe3;
$gray-5: #ebebeb;
$gray-6: #e3e6e8;
$gray-7: #9b9b9b;
$gray-8: #a2a6c2;
$gray-9: #dfe8f6;
$gray-10: #324057;
$gray-11: #c9c9c9;
$gray-12: #e0ddea;
$gray-13: #767994;
$gray-14: #a7a9ba;
$gray-15: #f9f8fd;
$gray-16: #fbfbfb;
$gray-17: #bababa;
$gray-18: #999999;
$gray-19: #a5a7b6;
$gray-20: #dee7eb;
$gray-21: #a3a6bf;
$gray-22: #dce1ec;
$gray-23: #9fa0aa;
$gray-24: #F6F7FC;
$gray-25: #5e6977;

// green
$green-1: #92cc53;
$green-2: #7ed321;

// blue
$blue-1: #03a8d1;
$blue-2: #728bb3;
$blue-3: #c4c6d4;
$blue-4: #5e46ff;
$blue-5: #64b8ff;
$blue-6: #e2f6ff;
$blue-7: #46a2ff;
$blue-8: #d6e1e4;
$blue-9: #c0ccda;
$blue-10: #646990;
$blue-11: #142c55;
$blue-12: #cfd1e5;
$blue-13: #f9fcff;
$blue-14: #2ab9ff;
$blue-15: #3c2c91;
$blue-16: #535256;
$blue-17: #358ed7;
$blue-18: #D9E5FF;
$blue-19: #32375E;

// apricot
$apricot-1: #ffbb6d;

$orange-1: #f5a623;
