$sizes: (xxx-small, xx-small, x-small, small, medium, large, x-large, xx-large);

$font-sizes: (
  x-small: 10px,
  small: 12px,
  medium: 16px,
  large: 18px
);

$icon-font-sizes: (
  x-small: 14px,
  small: 16px,
  medium: 18px,
  large: 20px
);

$svg-sizes: (
  x-small: 10px,
  small: 17px,
  medium: 20px,
  large: 24px,
  x-large: 36px,
  xx-large: 56px
);

$margins: (
  x-small: 3px,
  small: 5px,
  medium: 10px,
  large: 15px,
  x-large: 20px
)
